body{
    font-size: 20px;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    direction: ltr;
}

header{
    display: grid;
    grid-template-columns: 10% auto 20%;
    border-bottom: 1px solid black;
    padding: 10px;
    height: 4vh;
}

header .logo{
    margin-right: 50%;
}

header .links{
    width: fit-content;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

a:hover{
    text-decoration: underline;
    color: rgb(114, 114, 114);
}

::-webkit-scrollbar{
    visibility: hidden;
}
