#home-page{
    display: grid;
    grid-template-columns: 20% auto 20%;
}

#home-page .yap{
    border-right: 1px solid black;
    padding: 10px;
}

#home-page .user-yap{
    overflow: scroll;
    max-height: 94vh;
    padding: 10px 20%;
}

#home-page .create-post{
    border-left: 1px solid black;
    padding: 10px;
}