<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('css', path='base.css') }}">
    <header>
        <div class="logo">
            logo
        </div>
        <div class="search">
 
        </div>
        <div class="links">
                {% for link in link_field %}
                    {% if link == "home-no-login" %}
                        <a href="/users/login">LogIn</a>
                        <a href="/users/signup">SignUp</a>
                    {% elif link == "home-login" %}
                        <a href="/users/me">me</a>
                    {% else %}
                        <a href="/">home</a>
                    {% endif %}
                {% endfor %}
        </div>
    </header>

    <content>
        {% block body %}
        {% endblock %}
    </content>

</body>
</html>