{% extends "base.html" %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('css', path='home.css') }}">

<div id="home-page">
    <div class="yap">
        Welcome to da home page <br>
        Dis is da site <br>
        Hope it works <br>
        Meanwhile see all the posts people have made <br>
    </div>
    
    <div class="user-yap">
        {% if posts %}
                {% include "post.html" %}
        {% else %}
            No one posted anything :(
        {% endif %}
    </div>

    {% if logged_in %}
    <div class="create-post">
        Post something...anything!
        {% include "create_post.html" %}
    </div>
    {% endif %}

</div>

{% endblock %}