{% extends "base.html" %}
{% block body %}

<div class="user-info">
    <div class="name">
        {{ name }}
    </div>
    <div class="username">
        {{ username }}
    </div>
</div>

<div id="posts">
    <h3>Posts: </h3>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li class="username"><strong>{{ post.username }}</strong>{{ post.content }} </li> 
            {% endfor %}
        </ul>

    {% else %}
        <p>No posts found</p>
    {% endif %}
</div>

{% endblock %}