{% extends "base.html" %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('css', path='user.css') }}">

<div class="user-page">

    <div class="user-info">
        <img class="profile-pic" src="{{ url_for('img', path='default-user-image.jpg') }}">
        <div class="name-field">
            <div class="name">
                {{ name }}
            </div>
            <div class="username">
                {{ username }}
            </div>
        </div>
    </div>
    
    <div id="posts">
        {% if posts %}
            {% include "post.html" %}
        {% else %}
            <p>No posts found</p>
        {% endif %}
    </div>
</div>

{% endblock %}